<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientIpAddress" value="192.168.88.96"/>
		<add key="ClientPort" value="0"/>
		<add key="ServerIpAddress" value="192.168.88.96"/>
		<add key="ServerPort" value="6000"/>
    <add key="NewServerIpAddress" value="192.168.88.96"/>
    <add key="NewServerPort" value="6001"/>
		<add key="IpAddress" value="192.168.88.96"/>
		<add key="FileSenderPort" value="6010"/>
		<add key="FileReceiverPort" value="6015"/>
		<add key="ReceivedDataPath" value="../../../DataReceived"/>
	</appSettings>
</configuration>
